*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
form{
    font-size: 0;
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
form:hover{
    box-shadow: 8px  0px 32px rgba(3, 44, 30, 2);
}
/* input[type="text"]{
    width: 330px;
    height: 75px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding: auto;
    letter-spacing: 2px;
    background-color: turquoise;
} */
.btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 18px;
    background-color: #434d55;
    color: white;
}
.btn-style{
    background-color: teal;
}
.btn:hover{
    background-color:rgb(17, 163, 132);
    border-radius: 10px;
}
.solar{
    width: 120px;
}
.btn1{
    width: 65px;
    height: 70px;
    font-size: 18px;
    background-color: #ffffff;
    color: rgb(97, 93, 93);
    border: 0;
}
.btn1:hover{
    background-color:rgb(17, 163, 132);
    border-radius: 10px;
}
.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    width: 350px;
    text-align: right;
    
  }